@model IEnumerable<BankingApplication.Models.Non_Table_Models.Users.User_AccountType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.user.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.AccountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.CurrentBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userBank)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.user.UserName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.user.FirstName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.user.LastName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.userRole)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.user.Email)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.user.Password)
            </td>
            <td>
                     @item.accountType
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.CurrentBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userBank)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.user.UserId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.user.UserId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.user.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
