@model IEnumerable<BankingApplication.Models.Non_Table_Models.Users.User_AccountType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.user.userName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.accountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.currentBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userBank)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.user.userName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.user.firstName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.user.lastName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.userRole)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.user.email)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.user.password)
            </td>
            <td>
                     @item.accountType
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.currentBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userBank)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.user.userId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.user.userId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.user.userId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
